.dom-tree-highlight-red-outline{
    visibility:visible!important;
    border:3px solid red!important;
    box-sizing:border-box!important;
}
.dom-tree-highlight-show{
    display: block!important;
    visibility: visible!important;
}
.dom-tree-page-reverse{
    transform: rotateY(180deg)!important;
    transition: transform 2s ease;
}
.dom-tree-page-reverse-upsidedown{
    transform: rotateX(180deg)!important;
    transition: transform 2s ease;
}
