.dom-tree-container{
    width:400px;
    height:600px;
}
.dom-tree-header{
    height:40px;
    width:100%;
    background-color: #ffffff;
    border-bottom:1px solid #b3b3b3;
    box-shadow: 0 3px 2px 2px rgba(0,0,0,.25);
    box-sizing: border-box;
}
.dom-tree-img-wrapper{
    height:40px;
    width:40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.dom-tree-header-img{
    width:30px;
    height:30px;
}
.dom-tree-title{
    position: absolute;
    left:50px;
    top:0;
    height:40px;
    color: #535353;
    line-height: 40px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.dom-tree-result-panel{
    width:100%;
    height:560px;
    background-color: #ffffff;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}
.dom-tree-start-btn-wrapper{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
    width:60%;
    height:200px;
}
.dom-tree-start-btn{
    outline: none;
    border:none;
    width:150px;
    height:40px;
    color:#fff;
    background-color: #4fc08d;
    border-radius:5px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    transition: all .5s;
}
.dom-tree-brief{
    text-align: center;
    margin-bottom: 30px;
}
.dom-tree-brief span{
    color: #646464;
    font-size: 16px;
    display: inline;
    font-family: "Microsoft YaHei";
}
.dom-tree-start-btn:hover{
    background-color: #52d19b;
}
.loading-analysis{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: none;
}
.loading-analysis img{
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}

.dom-tree-data-show-wrapper{
    width:100%;
    display: none;
}
.dom-tree-item-wrapper{

}
.dom-tree-data-table{
    border-collapse: collapse;
    margin-top: 10px;
    width:100%;
    color:#646464;
}
.dom-tree-data-table td{
    border:1px solid #b3b3b3;
    padding:10px;
    text-align: center;
}
.td-no-padding-bottom{
    padding-bottom: 0!important;
}
.dom-tree-data-table td:first-child{
    border-left:none;

}
.dom-tree-data-table td:last-child {
    border-right:none;
}
.dom-tree-data-table tr:first-child{
    text-align: center;
}
.dom-tree-data-table tr:first-child td{
    border-top:none;
}
.dom-tree-data-table tr:not(:first-child) td:first-child{
    width:30%;
}
.dom-tree-item-box{
    display: inline-block;
    padding:5px;
    background-color: #4fc08d;
    border-radius: 4px;
    color:#fff;
    margin:5px;
}
.show-tag{
    cursor: pointer;
    transition: all .5s;
}
.cancel-show-tag,.show-deepest-node,.dom-tree-show-longestpath{
    background-color: #ffcb4f;
    cursor: pointer;
}
.show-tag:hover{
    background-color: #56e0a7;
}
.dom-tree-item-box-inactive{
    background-color: #bfbfbf;
}
.dom-tree-effect{
    box-sizing: border-box;
    height:90px;
    background-color: #71aae0;
    border:1px solid #f1f1f1;
    width:25%;
    padding:5px;
    color:#fff;
    text-align: center;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    transition: all .5s;
    display: table;
    word-break: break-all;
    word-wrap: break-word;
    white-space:normal;
}
.dom-tree-effect:hover{
    background-color: #7fbbf1;
}
.dom-tree-effect-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dom-tree-cancel{
    background-color: #52d19b;
}
.dom-tree-cancel:hover{
    background-color: #59edb2;
}
.dom-tree-multiline{
    display: table-cell;
    vertical-align: middle;
}